.movie-card {
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 2rem;
  border-radius: 10px;
  transition: opacity 0.3s;
  border: 3px solid #b81d1d;
 
}
.movie-card:hover .overlay {
  opacity: 1;
}
.movie-card .overlay i {
  font-size: 2rem;
  color: #f80303;
  margin-bottom: 8px;
}

/* Title text at bottom of overlay */
.overlay-title {
  /* position: absolute; */
  /* bottom: 10px; */
  width: 100%;
  text-align: center;
  
  color: #de1515;
  font-size: 2rem;
  padding: 0 4px; /* some padding if title is long */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  border: 1px solid #44db42;
}


